body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

input {
    padding: 8px;
    width: 200px;
}
button {
    padding: 8px 12px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #007bff;
    color: white;
}

.present {
    background: #4CAF50;
    color: white;
}

.absent {
    background: #f44336;
    color: white;
}

.edit {
    background: #ffc107;
    color: black;
}

.delete {
    background: black;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}